asgiref==3.2.10
astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
awsebcli==3.18.2
botocore==1.15.49
Django==3.1
django-appconf==1.0.4
django-ckeditor==5.9.0
django-environ==0.4.5
PyYAML==5.3.1
requests==2.20.1
six==1.12.0
sqlparse==0.3.1

