{%load static%}
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'styles/main.css'%}">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap " rel="stylesheet ">
</head>

<body>
    <header>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="color: rgb(99, 186, 134); font-size: 24px; padding-top: 10px; transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet"
            viewbox="0 0 24 24" class="iconify" data-inline="false" data-icon="eva:arrow-back-fill" id="back_icon">
            <path fill="currentColor"
                d="M19 11H7.14l3.63-4.36a1 1 0 1 0-1.54-1.28l-5 6a1.19 1.19 0 0 0-.09.15c0 .05 0 .08-.07.13A1 1 0 0 0 4 12a1 1 0 0 0 .07.36c0 .05 0 .08.07.13a1.19 1.19 0 0 0 .09.15l5 6A1 1 0 0 0 10 19a1 1 0 0 0 .64-.23a1 1 0 0 0 .13-1.41L7.14 13H19a1 1 0 0 0 0-2z">
            </path>
        </svg>

        <h1>

            {% block head_name %} head_name {% endblock head_name %}

        </h1>



    </header>
    <div class="line "></div>
    <div id="ajaxContent">

        {% block ajax_content %} ajax_content {% endblock ajax_content %}

    </div>

    <footer class="cl ">
        <div class="liner "></div>
        <ul>
            <li>
                <a class="link" href="{% url 'terms' %}" id="termsLink">Terms</a>
                <a class="link" href="{% url 'privacy' %}" id="privacyLink">Privacy</a>
                <a class="link" href="{% url 'about' %}" id="aboutLink">About</a>
            </li>
        </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/custom.js'%}"></script>

</body>


</html>