{%load static%}
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'styles/main.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap " rel="stylesheet ">
</head>

<body>
    <header>
        <span class="iconify " data-inline="false " data-icon="eva:arrow-back-fill " style="color: #63ba86; font-size: 24px; padding-top: 10px; ">
        </span>


        <h1>Apppointment</h1>



    </header>
    <div class="line "></div>

    <h1 class="big ">Appointment has been booked</h1>
    <h1 class="cer ">Your appointment with {{hospital}} as been created</h1>


    <footer class="cl ">
        <div class="liner "></div>
        <ul>
            <li>
                <a href="# " class="link ">Terms</a>
                <a href="# ">Privacy</a>
                <a href="# ">About</a>
            </li>
        </ul>
    </footer>




</body>

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js "></script>

</html>