{%load static%}
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'styles/main.css'%}">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap " rel="stylesheet ">
</head>

<body>{% for patients in patient %} {{patients}}{% endfor %}
    <h1 class="big">Welcome {{request.user.username}}</h1>
    <h1 class="cer ">You have {{appointment_number}} pending booking</h1>
    {{profile.appointment_with}} {% for appointment in appointments %}
    <a href="{% url 'profilepk' pk=appointment.patient.pk %}">{{appointment.patient}}</a>
    <form action="{% url 'approve' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{appointment.id}}">
        <button>Approve</button>
    </form>
    {% endfor %}

</body>

</html>