<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<!-- All CSS link is here -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
</head>
<body>
	<div class="main desktop_view">
		<div class="sub flex">
			<div class="left">
				<div class="sub_left">
					<div class="logo">
						<p>Navara</p>
					</div>
					<div class="menu_bar">
						<ul>
							<li><a href="#" class="flex">
								<img src="images/menu1.png" alt="menu1">
								<span>Home</span>
							</a></li>
							<li class="patients"><a href="#" class="flex">
								<img src="images/menu2.png" alt="menu1" class="same">
								<span>Patients</span>
							</a></li>
							<li><a href="#" class="flex">
								<img src="images/menu3.png" alt="menu1">
								<span>Doctors</span>
							</a></li>
							<li><a href="#" class="flex">
								<img src="images/menu4.png" alt="menu1">
								<span class="lab">Lab Test</span>
							</a></li>
							<li><a href="#" class="flex">
								<img src="images/menu2.png" alt="menu1" class="same">
								<span>Add Patient</span>
							</a></li>
							<li><a href="#" class="flex">
								<img src="images/menu2.png" alt="menu1" class="same">
								<span>Payments</span>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="right">
				<section class="nav flex">
					<p>Irua Clinc</p>
					<div class="text_box">
						<input type="text">
					</div>
					<div class="round"></div>
				</section>
				<section class="body">
					<div class="another flex">
						<div class="first common flex">
							<div class="item patient">
								<p>Total Patients</p>
								<div class="img flex">
									<img src="images/body1.png" alt="body1">
									<h4>7</h4>
								</div>
							</div>
							<div class="item booking">
								<p>Total Booking</p>
								<div class="img flex">
									<img src="images/body2.png" alt="body1">
									<h4>7</h4>
								</div>
							</div>
							<div class="item gender">
								<p>Patients by Gender</p>
								<div class="img">
									<img src="images/Ellipse 5.png" alt="Ellipse">
									<div class="img2">
										<img src="images/Ellipse 6.png" alt="Ellipse">
									</div>
								</div>
							</div>
						</div>
						<div class="middle common flex">
							<div class="item doctor">
								<p>Doctors</p>
								<div class="img flex">
									<img src="images/body3.png" alt="body1">
									<h4>7</h4>
								</div>
							</div>
							<div class="item count flex">
								<div class="text">
									<ul>
										<li><p>Todays Patients</p></li>
										<li><p>Total Non-Medical Staffs</p></li>
										<li><p>Total Nurses</p></li>
										<li><p>Total Doctors</p></li>
									</ul>
								</div>
								<div class="number">
									<ul>
										<li><p>13</p></li>
										<li><p>13</p></li>
										<li><p>13</p></li>
										<li><p>13</p></li>
									</ul>
								</div>
							</div>
							<div class="item diagnosis">
								<p>Top Diagnosis</p>
								<div class="img">
									<img src="images/Ellipse 5.png" alt="Ellipse">
									<div class="img2">
										<img src="images/Ellipse 6.png" alt="Ellipse">
									</div>
								</div>
							</div>
						</div>
						<div class="last common flex">
							<div class="item approval">
								<p>Pending Approval</p>
								<div class="img flex">
									<img src="images/body4.png" alt="body1">
									<h4>7</h4>
								</div>
							</div>
							<div class="item payment flex">
								<div class="text">
									<ul>
										<li><p>Todays Payments</p></li>
										<li><p>Month's Payments</p></li>
										<li><p>Todays Payments</p></li>
									</ul>
								</div>
								<div class="number">
									<ul>
										<li><p>NGN 1,2,000,000</p></li>
										<li><p>NGN 200,000</p></li>
										<li><p>NGN 20,000</p></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="main mobile_view">
		<section class="nav">
			<p>Irua Clinc</p>
			<div class="sub_main">

					<nav class="mobile-nav-wrap" role="navigation">
					  <ul class="mobile-header-nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">Patients</a></li>
						<li><a href="#">Doctors</a></li>
						<li><a href="#">Lab Test</a></li>
						<li><a href="#">Add Patients</a></li>
						<li><a href="#">Payments</a></li>
					  </ul>
					</nav>
				  
					<a class="mobile-menu-toggle js-toggle-menu hamburger-menu" href="#">
					  <span class="menu-item"></span>
					  <span class="menu-item"></span>
					  <span class="menu-item"></span>
					</a>
					
			</div>
		</section>
		<section class="body">
			<div class="sub_body">
				<div class="item patient">
					<p>Total Patients</p>
					<div class="img flex">
						<img src="images/body1.png" alt="body1">
						<h4>7</h4>
					</div>
				</div>
				<div class="item doctor">
					<p>Doctors</p>
					<div class="img flex">
						<img src="images/body3.png" alt="body1">
						<h4>7</h4>
					</div>
				</div>
				<div class="item booking">
					<p>Total Booking</p>
					<div class="img flex">
						<img src="images/body2.png" alt="body1">
						<h4>7</h4>
					</div>
				</div>
				<div class="item approval">
					<p>Pending Approval</p>
					<div class="img flex">
						<img src="images/body4.png" alt="body1">
						<h4>7</h4>
					</div>
				</div>
				<div class="item count flex">
					<div class="text">
						<ul>
							<li><p>Todays Patients</p></li>
							<li><p>Total Non-Medical Staffs</p></li>
							<li><p>Total Nurses</p></li>
							<li><p>Total Doctors</p></li>
						</ul>
					</div>
					<div class="number">
						<ul>
							<li><p>13</p></li>
							<li><p>13</p></li>
							<li><p>13</p></li>
							<li><p>13</p></li>
						</ul>
					</div>
				</div>
				<div class="item payment flex">
					<div class="text">
						<ul>
							<li><p>Todays Payments</p></li>
							<li><p>Month's Payments</p></li>
							<li><p>Todays Payments</p></li>
						</ul>
					</div>
					<div class="number">
						<ul>
							<li><p>NGN 1,2,000,000</p></li>
							<li><p>NGN 200,000</p></li>
							<li><p>NGN 20,000</p></li>
						</ul>
					</div>
				</div>
				<div class="item diagnosis">
					<p>Top Diagnosis</p>
					<div class="img">
						<img src="images/Ellipse 5.png" alt="Ellipse">
						<div class="img2">
							<img src="images/Ellipse 6.png" alt="Ellipse">
						</div>
					</div>
				</div>
				<div class="item gender">
					<p>Patients by Gender</p>
					<div class="img">
						<img src="images/Ellipse 5.png" alt="Ellipse">
						<div class="img2">
							<img src="images/Ellipse 6.png" alt="Ellipse">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div> 

		<!-- All JS link is here -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/script.js"></script>
</body>
</html>