            * {
                margin: 0;
                padding: 0;
                outline: none;
            }
            
            body {
                font-family: Montserrat;
                text-align: justify;
                overflow-x: hidden;
                height: 1500px;
                color: #666;
            }
            
            .content {}
            
            .content p {
                margin-bottom: 50px;
            }
            
            .wrapper {
                position: relative;
                left: 0;
            }
            
            #menu {
                position: fixed;
                width: 240px;
                height: 100%;
                top: 0;
                left: -240px;
                background-color: #63BA86;
                z-index: 1000;
                overflow: auto;
            }
            
            #menu,
            .wrapper {
                transition: all 0.3s ease;
            }
            
            #menu,
            ul {
                list-style: none;
            }
            
            #menu,
            ul h1 {
                text-align: center;
                color: white;
                font-size: 16px;
                cursor: default;
            }
            
            #menu,
            ul li:first-child {}
            
            #menu,
            ul li {
                padding: 15px 0 15px 0px;
                text-align: left;
            }
            
            #menu ul li:hover {
                background-color: wheat;
                border-radius: 20px;
            }
            
            #menu,
            ul li a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                font-family: Montserrat;
                font-weight: 400;
            }
            
            #menu.menu-open {
                left: 0px;
            }
            
            .menu-push {
                left: 240px;
            }
            
            .menu-btn {
                color: cadetblue;
                border: none;
                position: fixed;
                padding: 30px;
                background-color: transparent;
                cursor: pointer;
            }
            
            .boxyy ul {
                display: flex;
                flex-wrap: wrap;
                padding-left: 80px;
            }
            
            .boxyy ul li {
                list-style: none;
                width: 185px;
                height: 150px;
                background: #FFFFFF;
                box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                margin-right: 150px;
                margin-bottom: 50px;
            }
            
            .bas {
                flex-basis: 40%;
            }
            
            .iconn {
                text-align: center;
                margin-top: 5px;
            }
            
            h1.buto {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 37px;
                color: #63BA86;
                text-align: center;
            }
            
            h1.lau {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 30px;
                color: #3D8D5D;
            }
            
            h1.cer {
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 10px;
                color: #356B51;
                padding-left: 460px;
            }
            
            .conf {
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 17px;
                color: #FFFFFF;
                background-color: #67E298;
                margin-top: 10px;
                height: 25px;
                width: 87px;
                border: 0.5px solid #63BA86;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px -4px 4px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
            }
            
            h1.laud {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 30px;
                color: white;
                text-align: center;
            }
            
            .navbar {
                display: flex;
                align-items: center;
                padding: 5px;
            }
            
            .navv {
                flex: 1;
                text-align: right;
            }
            
            .navv ul {
                display: inline-block;
                list-style-type: none;
            }
            
            .navv ul li {
                display: inline-block;
                margin-right: 70px;
            }
            
            .container {
                max-width: 1300px;
                margin: auto;
                padding-left: 10px;
                padding-right: 10px;
            }
            
            .header {
                background: rgba(235, 255, 243, 0.5);
            }
            
            .header .row {
                margin-top: 100px;
            }
            
            h1.avail {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 59px;
                color: #63BA86;
                padding-left: 70px;
            }
            
            img.round {
                border-radius: 50%;
            }